.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #13294B;  /* Navy */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #4B9CD3;  /* Carolina Blue */
}

body {
  font-family: -apple-system, 'Futura', 'Nunito', 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-paragraph {
  font-family: -apple-system, 'Futura', 'Nunito', 'Roboto', sans-serif;
  color: #FFFFFF; /* White */
  font-size: calc(10px + 2vmin);
  line-height: 1.5;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
