:root {
  --carolina-blue: #4B9CD3;
  --navy: #13294B;
  --secondary-gray: #F8F8F8;
  --tile-teal: #00A5AD;
  --sunburst-yellow: #FFD100;
  --sandstone: #F4E8DD;
  --azalea-pink: #EF426F;
  --davie-green: #C4D600;
  --longleaf-pine: #00594C;
  --dark-gray: #5A5A5A;
  --transition-duration: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, 'Futura', 'Nunito', sans-serif;
  line-height: 1.6;
  color: var(--navy);
  background-color: var(--secondary-gray);
}

a {
  text-decoration: none;
  color: inherit;
}

.icon-link {
  display: inline-block;
  padding: 10px;
  color: var(--carolina-blue);
  transition: color var(--transition-duration);
}

.icon-link:hover {
  color: var(--sandstone);
}

button {
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: linear-gradient(135deg, var(--carolina-blue) 0%, var(--navy) 100%); /* Gradient from Navy to Carolina Blue */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Add some shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

button a {
  color: white;
  text-decoration: none; 
}

button:hover {
  transform: translateY(-3px); /* Move the button up slightly */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase the shadow size */
}

button:active {
  transform: translateY(1px); /* Move the button down slightly */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Decrease the shadow size */
}