:root {
  --carolina-blue: #4B9CD3;
  --navy: #13294B;
  --secondary-gray: #F8F8F8;
  --tile-teal: #00A5AD;
  --sunburst-yellow: #FFD100;
  --sandstone: #F4E8DD;
  --azalea-pink: #EF426F;
  --davie-green: #C4D600;
  --longleaf-pine: #00594C;
  --dark-gray: #5A5A5A;
  --transition-duration: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.6;
  color: var(--navy);
  background-color: var(--secondary-gray);
}

a {
  text-decoration: none;
  color: inherit;
}

.icon-link {
  display: inline-block;
  padding: 10px;
  color: var(--carolina-blue);
  transition: color var(--transition-duration);
}

.icon-link:hover {
  color: var(--sandstone);
}

/* CSS */
button {
  appearance: none;
  background-color: var(--carolina-blue);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui, Inter, "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  background-color: #3b93cf;
}

button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}