.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    position: sticky;
    top: 0;
    background-color: var(--secondary-gray);
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 100;

    &.scrolled {
        height: 60px;
        background-color: rgba(var(--secondary-gray), 0.8);
        box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    }
}

.navbar-menu {
    display: flex;
    list-style: none;

    li {
        margin: 0 10px;

        a {
            color: var(--navy);
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: var(--carolina-blue);
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .navbar {
        background-color: #222;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);

        &.scrolled {
            background-color: rgba(34,34,34,0.8);
            box-shadow: 0 2px 8px rgba(0,0,0,0.2);
        }
    }

    .navbar-menu {
        li {
            a {
                color: var(--carolina-blue);

                &:hover {
                    color: var(--sandstone);
                }
            }
        }
    }

}
.menu-icon {
    color: var(--secondary-gray);
    display: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .navbar-menu {
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        height: calc(100vh - 80px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(var(--secondary-gray), 0.8);
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: -1;
        pointer-events: none;

        &.show-menu {
            opacity: 1;
            z-index: 101;
            pointer-events: auto;
        }
    }

    .menu-icon {
        display: block;
    }

}